<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Settings to control which version of demos to run -->
		<add key="RunDemosCSharp5" value="false" />
		<add key="RunDemosCSharp6" value="true" />
		
		<!-- Settings to control which demos to run -->
		<add key="AutoProperties" value="false" />
		<add key="DictionaryInitialisers" value="false" />
		<add key="ExceptionFilters" value="true" />
		<add key="ExpressionsAndStructs" value="false" />
		<add key="NameOf" value="false" />
		<add key="NullConditional" value="false" />
		<add key="StringInterpolation" value="false" />
		<add key="UsingStatic" value="false" />

		<!-- Settings for specific demos -->
		<add key="DemoExceptionFiltersExceptionMessage" value="Error" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>